#root {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-card-wallpaper {
  max-width: 1000px;
  min-height: 400px;
  border-radius: 10px 10px 0px 0px;
}

.todo-card_total-info {
  border-radius: 0px 0px 10px 10px;
}
